body{
  text-align: center;
  background-color: rgb(177, 171, 162);
}

.choice-button{
  height: 100px;
  width: 100px;
  border:none;
  margin:10px;
  background-color:rgb(216, 211, 203);
  border-radius: 50px; 
  cursor: pointer;
}
.choice-image{
  height: 80%;
  width: 70%;
}
.choice-score{
  height: 50px;
  width: 50px;
  margin: 10px;
}